<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>渠道管理</title>
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/pintuer.css">
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/admin.css">
<script src="{{ STATIC_URL }}homepage/js/jquery.js"></script>
<script src="{{ STATIC_URL }}homepage/js/pintuer.js"></script>
</head>

<body>

<ol class="bread">
  <li><a href="/homepage" target="right" class="icon-home"> 首页</a></li>
  <li>渠道管理</li>
</ol>

<table class="table table-hover text-center">
  <tr>
    <th width="50%"></th>
    <th width="50%">
      <div class="" style="text-align: right">  
        <a href="{% url 'channel_edit' %}" class="button border-yellow">
        <span class="icon-plus-square-o"></span>添加渠道</a>
      </div>
    </th>
  </tr>
</table>

<div class="row">
  <table class="table table-hover text-center">
    <thead>
      <th width="40%" style="text-align: center">渠道号</th>
      <th width="40%" style="text-align: center">渠道名称</th>
      <th width="20%" style="text-align: center">操作</th>
    </thead>

    <tbody>
    {% for channel in channels %}
      <tr>
        <td style="text-align: center">{{ channel.channel_num }}</td>
        <td style="text-align: center">{{ channel.channel_name }}</td>
        <td style="text-align: center">
          <a href="{% url 'channel_edit' %}?channel_id={{channel.id}}" class="button border-main" title="修改">修改</a>
          <a href="{% url 'channel_delete' %}?channel_id={{channel.id}}" class="button border-main" title="删除" onclick="if(confirm('确定删除?')==false)return false;">删除</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>

{% block js %}

<script src="{{ STATIC_URL }}select2/select2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
<link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
{% endblock %}