<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>添加超级管理员</title>
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/pintuer.css">
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/admin.css">
<script src="{{ STATIC_URL }}homepage/js/jquery.js"></script>
<script src="{{ STATIC_URL }}homepage/js/pintuer.js"></script>
</head>

<body>

<ol class="bread">
  <li><a href="/homepage" target="right" class="icon-home"> 首页</a></li>
  <li>超级管理员</li>
</ol>

<div class="padding border-bottom" style="text-align: right">  
  <a href="/customer/user/superadmin/edit" class="button border-yellow">
  <span class="icon-plus-square-o"></span>添加超级管理员</a>
</div>


<div class="row">
    <table class="table table-hover text-center">
        <thead>
            <th style="text-align: center">用户ID</th>
            <th style="text-align: center">用户名</th>
            <th style="text-align: center">创建时间</th>
            <th style="text-align: center">操作</th>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td style="text-align: center"><b>{{ user.uuid }}</b></td>
                <td style="text-align: center"><b>{{ user.nickname }}</b></td>
                <td style="text-align: center">{{ user.created_at }}</td>
                <td style="text-align: center">
                  <a href="/customer/account?user_id={{user.id}}" class="button border-main">账户详情</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>

{% block js %}
<script src="{{ STATIC_URL }}select2/select2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
<link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}