
    <div class="row alert alert-info">
        <div class="col-sm-6" style="margin-top: 5px;padding-left: 60px">
            <p><span><strong>订单号: &nbsp; </strong> </span>  <span >{{ notice.out_trade_no }}</span></p>
            <p><span><strong>bid: &nbsp; </strong> </span>  <span >{{ notice.bid }}</span></p>
            <p><span><strong>bvrs: &nbsp;</strong></span>  <span >{{ notice.bvrs }}</span></p>
            <p><span><strong>item_id: &nbsp;</strong></span>  <span >{{ notice.item_id }}</span></p>
            <p><span><strong>original_purchase_date: &nbsp;</strong></span>  <span >{{ notice.original_purchase_date }}</span></p>
            <p><span><strong>original_purchase_date_ms: &nbsp;</strong></span>  <span >{{ notice.original_purchase_date_ms }}</span></p>
            <p><span><strong>original_purchase_date_pst: &nbsp;</strong></span>  <span >{{ notice.original_purchase_date_pst }}</span></p>
            <p><span><strong>original_transaction_id: &nbsp;</strong></span>  <span >{{ notice.original_transaction_id }}</span></p>
            <p><span><strong>product_id: &nbsp;</strong></span>  <span >{{ notice.product_id }}</span></p>
        </div>
        <div class="col-sm-6" style="margin-top: 5px">
            <p><span><strong>purchase_date: &nbsp;</strong></span>  <span >{{ notice.purchase_date }}</span></p>
            <p><span><strong>purchase_date_ms: &nbsp;</strong></span>  <span >{{ notice.purchase_date_ms }}</span></p>
            <p><span><strong>purchase_date_pst: &nbsp;</strong></span>  <span >{{ notice.purchase_date_pst }}</span></p>
            <p><span><strong>quantity: &nbsp;</strong></span>  <span >{{ notice.quantity }}</span></p>
            <p><span><strong>transaction_id: &nbsp;</strong></span>  <span >{{ notice.transaction_id }}</span></p>
            <p><span><strong>回调时间: &nbsp;</strong></span>  <span > {{ notice.created_at }}</span></p>
        </div>
    </div>



