<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>用户图片</title>
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/pintuer.css">
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/admin.css">
<script src="{{ STATIC_URL }}homepage/js/jquery.js"></script>
<script src="{{ STATIC_URL }}homepage/js/pintuer.js"></script>
<style>
  .purchase-img li{ float:left;margin-right:5px;margin-bottom:5px;}
</style>
</head>

<body>

<ol class="bread">
  <li><a href="/homepage" target="right" class="icon-home"> 首页</a></li>
  <li><a href="/customer/child_user/list" target="right">小号列表</a></li>
  <li><a href="/customer/child_user/picture?user_id={{ user.id }}" target="right">用户图片</a></li>
  <li>照片详情</li>
</ol>

<table class="table table-hover text-center">
  <tr>
    <th width="60%" style="text-align: center;"><strong>图片信息</strong></th>
    <th width="40%" style="text-align: center;"><strong>照片评论</strong></th>
  </tr>

  <tr>
    <td>
      <img src="{{ picture.picture_real_url }}" width="80%" height="48%" id="{{ picture.id }}" title="{{ picture.desc }}">
      <script type="text/javascript">
        var img_url='{{ picture.picture_real_url }}';
        var img = new Image();
        img.src = img_url;
        var width = img.width;
        var height = img.height;
        var ratio = width/height;
        if(ratio==16/9){
          img=document.getElementById('{{ picture.id }}');
          img.width=640;
          img.height=360;
        }
        else if(ratio==9/16){
          img=document.getElementById('{{ picture.id }}');
          img.width=360;
          img.height=640;
        }
        else if(ratio==4/3){
          img=document.getElementById('{{ picture.id }}');
          img.width=640;
          img.height=480;
        }
        else if(ratio==3/4){
          img=document.getElementById('{{ picture.id }}');
          img.width=480;
          img.height=640;
        }
        else if(ratio==1){
          img=document.getElementById('{{ picture.id }}');
          img.width=640;
          img.height=640;
        }
        else{
          img=document.getElementById('{{ picture.id }}');
        }
      </script>
    </td>
    <td style="text-align: center; vertical-align: top;">
      <table class="table table-hover text-center">
        <tr>
          <th width="15%" style="text-align: center; vertical-align: middle"></th>
          <th width="85%" style="text-align: center; vertical-align: middle"></th>
		</tr>
		{% for comment_user in comment_list %}
		<tr>
		  <td>
		  	<img src="{{comment_user.user.image}}" width="60" height="60" title="用户名:{{comment_user.user.nickname}} 用户ID:{{comment_user.user.identity}}" onclick="javascript:window.location.href='/customer/account?user_id={{comment_user.user_id}}'">
		  </td>
		  <td>
		  	<table class="table table-hover text-center">
		  	  <tr>
		  	    <th width="70%" style="text-align: left; vertical-align: middle">
		  	      <a href="/customer/account?user_id={{comment_user.user_id}}">{{comment_user.user.identity}} {{comment_user.user.nickname}}</a>
		  	    </th>
		  	    <th width="30%" style="text-align: right; vertical-align: middle">{{comment_user.created_at}}</th>
		  	  </tr>
		  	  <tr>
		  	    <td>{{comment_user.comment}}</td>
		  	    <td style="text-align: center;vertical-align: middle;">
		  	      <a class="button button-little bg-red" 
		  	        href="/customer/child_user/comment_delete?comment_id={{comment_user.id}}&user_id={{comment_user.user_id}}" 
		  	        onclick="if(confirm('确定删除?')==false)return false;">删除</a>
		  	    </td>
		  	  </tr>
		  	</table>
		  </td>
		</tr>
		{% endfor %}      	
      </table>
    </td>
  </tr>
  <tr>
  	<td>
  	  <table class="table table-hover text-center">
  	    <tr>
  	      <th width="15%" style="text-align: center; vertical-align: middle"><strong>购买人列表</strong></th>
  	      <th width="85%">
  	        <ol class="purchase-img">
  	        {% for purchase_user in purchase_list %}
  	          <li><img src="{{purchase_user.image}}" width="30" height="30" title="用户名:{{purchase_user.nickname}} 用户ID:{{purchase_user.identity}}" onclick="javascript:window.location.href='/customer/account?user_id={{purchase_user.id}}'"></li>
  	        {% endfor %}
  	        </ol>
  	      </th>
  	    </tr>
  	    <tr>
  	      <td><strong>点赞人列表</strong></td>
  	      <td>
  	        <ol class="purchase-img">
  	        {% for like_user in like_list %}
  	          <li><img src="{{like_user.image}}" width="30" height="30" title="用户名:{{like_user.nickname}} 用户ID:{{like_user.identity}}" onclick="javascript:window.location.href='/customer/account?user_id={{like_user.id}}'"></li>
  	        {% endfor %}
  	        </ol>
  	      </td>
  	    </tr>
  	  </table>
  	</td>

  	<td>
  	  <table class="table table-hover text-center">
  	  <tr>
  	    <th style="text-align: center; vertical-align: middle;"><strong>添加评论</strong></th>
  	  </tr>
  	  <tr>
  	    <td>
  	    <form class="form-x" method="post" id="mainPageContent" action="">  	    
  	      <div class="form-group">  
            <div class="label"><label>用户:</label></div>
            <div class="field">
              <input type="text" class="input w50" id="edit_user_identity" name="edit_user_identity" value="" placeholder="用户长ID" data-validate="required:请输入用户长ID">
            </div>
          </div>
          <div class="form-group">  
            <div class="label"><label>评论:</label></div>
            <div class="field">
              <textarea type="text" class="input" id="edit_user_comment" name="edit_user_comment" value="" placeholder="评论内容" data-validate="required:请输入照片评论"></textarea>
            </div>
          </div>
  	  	  <div class="form-group">
            <div class="label">
              <label></label>
            </div>
            <div class="field">
              <button class="button button-little bg-blue" id="desc_default_btn" onclick="UploadData()">确定</button>
              <a class="button button-little bg-red" href="/customer/child_user/picture?user_id={{ user.id }}" id="back">返回</a>
            </div>
          </div>
  	    </form>
  	    </td>
  	  </tr>
  	  </table>
  	</td>
  </tr>
</table>

</body>
<script type="text/javascript">
  function UploadData() {
    var identity = $("#edit_user_identity").val();
    var comment = $("#edit_user_comment").val();
    var form = new FormData();
    form.append('edit_user_identity',identity);
    form.append('edit_user_comment',comment);
    $.ajax({
      type:'POST',
      url:'/customer/child_user/comment_create?picture_id={{picture.id}}',
      data:form,
      processData:false,  // 告诉jquery不转换数据
      contentType:false,  // 告诉jquery不设置内容格式
      success:function (arg) {
        console.log(arg);
        alert(arg);             
      }
    })
  }
</script>

{% block js %}

<script src="{{ STATIC_URL }}select2/select2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
<link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}