<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>账户详情</title>
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/pintuer.css">
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/admin.css">
<script src="{{ STATIC_URL }}homepage/js/jquery.js"></script>
<script src="{{ STATIC_URL }}homepage/js/pintuer.js"></script>
</head>

<body>

<ol class="bread">
  <li><a href="/homepage" target="right" class="icon-home"> 首页</a></li>
  <li><a href="/customer/child_user/list" target="right">小号列表</a></li>
  <li>账户详情</li>
</ol>

<table class="table table-hover text-center">
    <tr>
      <th width="10%" style="text-align: center;"><strong>基本信息</strong></th>
      <th width="40%"></th>
      <th width="40%"></th>
      <th width="10%">
        <a class="button button-little bg-green" href="/customer/child_user/add?user_id={{ user.id }}" title="金币经验调整">金币经验调整</a>
      </th>
    </tr>

    <tr>     
      <td><img src="{% if user.image %} {{ user.image }} {% else %}{{ STATIC_URL }}image/user_icon.png {% endif %}" alt="" width="120" height="120" /></td>
      <td><div class="form-group" style="margin-top: 15px">
        <div class="label"><label><strong>用户ID:</strong>&nbsp; {{ user.id }}</label></div>
        <div class="label"><label><strong>昵称:</strong>&nbsp; {{ user.nickname }}</label></div>
        <div class="label"><label><strong>金币:</strong>&nbsp; {{ account.diamond }}</label></div>
        <div class="label"><label><strong>灵石:</strong>&nbsp; {{ user.ticket }}</label></div>
        <div class="label"><label><strong>经验:</strong>&nbsp; {{ user.experience }}</label></div>
      </div></td>
      <td><div class="form-group" style="margin-top: 15px">
        <div class="label"><label><strong>电话:</strong>{{ user.phone|default_if_none:'无' }}</label></div>
        <div class="label"><label><strong>创建时间:</strong>&nbsp; {{ user.created_at }}</label></div>
        <div class="label"><label><strong>最后更新时间:</strong>&nbsp; {{ account.update_time }}</label></div>
        <div class="label"><label><strong>上次消费(金币):</strong>&nbsp; {{ user.ticket }}</label></div>
        <div class="label"><label><strong>等级:</strong>&nbsp; {{ user.level_desc }}</label></div>      
      </div></td>
      <td></td>
    </tr>
</table>

<hr style="margin-bottom: 20px;margin-top: 10px">

<table class="table table-hover text-center">
    <tr>
      <th width="10%" style="text-align: center"><strong>充值记录</strong></th>
      <th width="20%"></th>
      <th width="20%"></th>
      <th width="20%"></th>
      <th width="10%"></th>
      <th width="10%"></th>
      <th width="10%">
        <a class="button button-little bg-green" href="/customer/more/trade/orders?user_id={{ user.id }}" title="更多订单">更多订单</a>
      </th>
    </tr>

    <tr>
      <td style="text-align: center;">订单ID</td>
      <td style="text-align: center;">充值金额(分)</td>
      <td style="text-align: center;">充值金币数</td>
      <td style="text-align: center;">购买时间</td>
      <td style="text-align: center;">充值渠道</td>
      <td style="text-align: center;">订单状态</td>
      <td style="text-align: center;">操作</td>
    </tr>
    {% for order in orders %}
    <tr>
      <td style="text-align: center"><strong>{{ order.id }}</strong></td>
      <td style="text-align: center"><strong>{{ order.money }}</strong></td>
      <td style="text-align: center"><strong>{{ order.diamon }}</strong></td>
      <td style="text-align: center">{{ order.buy_time }}</td>
      <td style="text-align: center">{{ order.fill_in_type }}</td>
      <td style="text-align: center">{{ order.status }}</td>
      <td><a class="button button-little bg-blue" href="/customer/trade/order/detail?id={{ order.id }}">查看详情</td>
    </tr>
    {% endfor %}
</table>

<hr style="margin-bottom: 20px;margin-top: 10px">

<table class="table table-hover text-center">
    <tr>
      <th width="10%" style="text-align: center"><strong>消费记录</strong></th>
      <th width="20%"></th>
      <th width="20%"></th>
      <th width="20%"></th>
      <th width="10%">
        <a class="button button-little bg-green" href="/customer/trade/account/record?user_id={{ user.id }}" title="更多记录">更多记录</a>
      </th>
    </tr>

    <tr>
      <td style="text-align: center;">消费金币</td>
      <td style="text-align: center;">交易前余额(金币)</td>
      <td style="text-align: center;">交易后余额(金币)</td>
      <td style="text-align: center;">购买时间</td>
      <td style="text-align: center;">交易描述</td>
    </tr>
    {% for record in records %}
    <tr>
        <td style="text-align: center"><strong>{{ record.diamon }}</strong></td>
        <td style="text-align: center"><strong>{{ record.before_balance }}</strong></td>
        <td style="text-align: center"><strong>{{ record.after_balance }}</strong></td>
        <td style="text-align: center">{{ record.created_time }}</td>
        <td style="text-align: center">{{ record.desc }}</td>
    </tr>
    {% endfor %}
</table>

<hr style="margin-bottom: 20px;margin-top: 10px">

</body>


{% block js %}

<script src="{{ STATIC_URL }}select2/select2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
<link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}


